@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
    color: #C5D86D;
}

a {
    color: #C5D86D;
    text-decoration: none;
}

.about,
.skills,
.projects,
.contact { /*Style used for subheadings*/
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    font-weight: bold;
}

.about p,
.skills p,
.projects p,
.contact p {
    background-color: #1A1F16;
    border-radius: 1rem;
}

/* First section styles */

.showcase {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 1rem;
}

nav li {
    margin: 1rem;
    transition: 0.2s;
}

nav li:hover,
.text a:hover {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #345830;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    text-align: center;
}

.text h2 {
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    text-transform: capitalize;
}

.text p {
    font-size: 1.5em;
    font-weight: 500;
    margin: 20px 0;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #000;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 1rem;
}

.text a:visited,
.text a:link {
    color: #C5D86D;
}

@media only screen and (max-width: 740px) {
    header {
        left: 0;
    }
}

@media only screen and (max-width: 1067px) {
    .text h2 {
        font-size: 4em;
    }

    .text h3 {
        font-size: 3em;
    }

    .text p {
        font-size: 1em;
    }
}

/* Second section styles */

.main {
    height: 100%;
    width: 100%;
    margin-top: 100vh;
    background-color: #4A7856;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #345830;
    padding: 4rem;
}

.about-content img {
    height: 350px;
    width: 306px;
    object-fit: cover;
    border-radius: 50%;
}

.about-content div {
    text-align: center;
    background-color: #1E3F20;
    padding: 1rem;
    border-radius: 1rem;
}

.about-content p {
    max-width: 400px;
    font-weight: 500;
}

/* Third section styles */

.skills-content {
    background-color: #345830;
    padding: 4rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: #1E3F20;
    border-radius: 1rem;
    padding: 2rem;
}

.skills-container h2 {
    text-align: center;
}

/* Fourth section styles */

.projects-column1 img,
.projects-column2 img {
    min-width: 100px;
    max-width: 300px;
    height: auto;
    width: 100%;
}

.projects-content {
    display: flex;
    justify-content: space-around;
    background-color: #345830;
    padding: 4rem;
}

.projects-column1,
.projects-column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
    gap: 1rem;
}

.projects-column1 div,
.projects-column2 div {
    background-color: #1E3F20;
    border-radius: 1rem;
    padding: 1.5rem 0.8rem;

}

/* Fifth section styles */

.contact-content {
    background-color: #345830;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 12.5%;
}

input,
textarea {
    background-color: #4A7856;
    border-bottom: 4px solid #1A1F16;
    color: #C5D86D;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

input[type='submit'] {
    text-align: center;
    width: 25%;
    margin-left: 37.5%;
}

input[type='submit']:hover {
    background-color: #1A1F16;
    cursor: pointer;
}


label {
    margin-left: 1rem;
}